@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 20px 0;
  color: #212121;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #212121;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 252px;
  padding: 6px 12px;
  background-color: #ffffff;
  border-right: 2px solid #f5f5f5;
}

.logo-content {
  height: 90px;
}

.logo {
  margin: 10px 0px;
  height: 90px;
  border-radius: 5px;
  position: relative;
}

.logo img {
  width: 100%;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 4px 0;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.8s ease;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;

  color: #808080;
}

.sidebar ul li a:hover {
  color: brown;
}

.nav-list .active,
.nav-list-pm .active {
  background: #dfedfb;
  color: #1b4ea3 !important;
}

.sidebar ul li a i,
.user-logout i {
  height: 50px;
  min-width: 40px;
  line-height: 50px;
  border-radius: 5px;
  padding-left: 14px;
  font-weight: 700;
  font-size: 16px;
}

.user-logout {
  position: absolute;
  top: 680px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #808080;
}

.content {
  position: relative;
  width: calc(100% - 500px);
  height: 100%;
  left: 252px;
  margin-right: 220px;
  padding-left: 40px;
}

.content-main {
  position: relative;
  width: 100%;
  height: calc(100% - 24px);
}

.content-top {
  position: relative;
  min-height: 300px;
  margin-right: 44px;
}

.content-right {
  position: absolute;
  top: 70px;
  right: 0;
  height: 100%;
  width: 228px;
  margin-top: 24px;
  margin-right: 40px;
  margin-left: 24px;
}

.content-bottom {
  margin-top: 12px;
  margin-right: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
}

.content-bottom table {
  background-color: #ffffff;
  border-radius: 10px;
}

.view-details {
  font-weight: 700;
  color: #1b4ea3;
}

.view-details:hover {
  text-decoration: none;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.Auth-form-container::-webkit-scrollbar {
  width: 0;
}
.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(218, 218, 218);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.form-background {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #f0f0f0, #808080);
  height: 100vh;
  overflow: hidden;
}

.form-type ul {
  display: flex;
}

.leave-profile-lists {
  height: calc(100% - 28px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.reminder-type {
  height: calc(100% - 36px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.reminder-type::-webkit-scrollbar,
.leave-profile-lists::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.reminder-type::-webkit-scrollbar-track,
.leave-profile-lists::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.reminder-type::-webkit-scrollbar-thumb,
.leave-profile-lists::-webkit-scrollbar-thumb {
  background: none;
}

.form-type ul li {
  position: relative;
  width: 50%;
  list-style: none;
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-size: 26px;
  font-weight: bold;
}

#blur.active {
  background: rgba(33, 33, 33, 0.4);
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
  color: #000000 !important;
}

#popup1,
#popup2,
#popup3,
#popup4,
#popup5,
#popup6 {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  width: 460px;
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 0 5px #19191d;
}

#popup1.active,
#popup2.active,
#popup3.active,
#popup4.active,
#popup5.active,
#popup6.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  color: #000000 !important;
}

.popup-top {
  display: flex;
}

.popup-top {
  margin: 0px;
  height: 62px;
  align-content: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.popup-colors1 {
  background-color: #fef2e5;
  color: #cd6200;
}

.popup-colors2 {
  background-color: #ebf9f1;
  color: #1f9254;
}

.popup-colors3 {
  background-color: #fbe7e8;
  color: #a30d11;
}

.popup-top i {
  position: absolute;
  right: 8px;
}

.popup-top i:hover {
  color: #007bff;
  cursor: pointer;
}

.popup-content {
  padding: 30px;
}

.popup-content .leave-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #212121;
}

.popup-content i {
  padding-right: 8px;
}

.popup-content .leave-name {
  padding-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.popup-reason {
  padding-top: 30px;
}

.popup-reason .reason-head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  padding-bottom: 4px;
}

.popup-reason .reason-details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #212121;
}

.button-design {
  margin-top: 30px;
  height: 54px;
  width: 100%;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  background: #f34137;
  border-radius: 5px;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}

.popup-reason p {
  margin: 0;
}

.popup-top i {
  padding: 5px;
}

.popup-top i:hover {
  background-color: #f33131;
  color: #ffffff;
}

.nav a {
  text-decoration: none;
  color: #646464;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 0 10px 13px 10px;
}
.table-toggle .nav a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #646464;
  padding: 0 0 8px 0;
  margin-right: 25px;
  margin-bottom: 9px;
}
.nav .active {
  color: #1b4ea3;
  border-bottom: 3px solid #1b4ea3;
}

.nav-tabs {
  border: 0px;
}

.content-form {
  width: calc(100% - 44px);
}

.form-type {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.content-form .tab-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 36px 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
}

.form-container form .leave-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

form .leave-form .input-box,
form .leave-form .input-file {
  margin-bottom: 28px;
  width: calc(100% / 3 - 15px);
}
.leave-form .input-box input,
.leave-form .reason-field textarea,
.leave-form .input-box select,
.leave-form .input-file input,
.user-form .user-input-box input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #212121;
}
.leave-form .input-file input::file-selector-button {
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  padding: 0 15px;
  background-color: #ffffff;
}
.leave-form .select-type {
  margin-bottom: 15px;
  width: 100%;
}

form .leave-form .reason-field {
  width: 100%;
}

.leave-form .reason-field .details,
.leave-form .input-box .details,
.leave-form .input-file .details,
.leave-form .select-type .details,
.user-form .user-input-box .details {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  margin-bottom: 8px;
}

.leave-form .input-box input,
.leave-form .input-box select,
.user-form .user-input-box input {
  height: 44px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.leave-form .reason-field textarea {
  height: 140px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  padding: 10px 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  resize: none;
}

.leave-form .reason-field textarea:focus,
.leave-form .reason-field textarea:valid,
.leave-form .input-box input:focus,
.leave-form .input-box input:valid,
.leave-form .input-box select:focus,
.leave-form .input-box select:valid {
  border-color: #1b4ea3;
}

.leave-form .select-type .type-category {
  display: flex;
  width: 100%;
  margin: 14px 0 6px 0;
}

.select-type .type-category label {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  padding-right: 24px;
}

.select-type .type-category .dot {
  height: 24px;
  width: 24px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin-right: 10px;
  border: 6px solid transparent;
  transition: all 0.3s ease;
}
.select-type .type-category .select-leave {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

#dot-1:checked ~ .type-category label .one,
#dot-2:checked ~ .type-category label .two,
#dot-3:checked ~ .type-category label .three,
#dot-4:checked ~ .type-category label .four,
#dot-5:checked ~ .type-category label .five,
#dot-6:checked ~ .type-category label .six,
#dot-7:checked ~ .type-category label .one,
#dot-8:checked ~ .type-category label .two,
#dot-9:checked ~ .type-category label .three,
#dot-10:checked ~ .type-category label .four,
#dot-11:checked ~ .type-category label .five,
#dot-12:checked ~ .type-category label .six {
  border-color: #f4f4f4;
  background: #1b4ea3;
}

form input[type="radio"] {
  display: none;
}

.form-container form .button1 {
  height: 45px;
  margin: 45px 0 0 0;
  width: calc(50% / 2);
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
}
.user-form-container form .button1 {
  height: 45px;
  margin: 20px 0 0 0;
  width: calc(50% / 2);
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
}
form .button1 input {
  height: 44px;
  width: 112px;
  outline: none;
  border-color: #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 20px;
}

form .button1 .cancel {
  background-color: #ffffff;
  color: #1b4ea3;
}

form .button1 .apply {
  background-color: #1b4ea3;
  color: #ffffff;
}

.card-container {
  margin-top: 12px;
}

.card-container .card {
  position: relative;
  background-color: #ffffff;
  width: 260px;
  height: 120px;
  padding: 24px;
  border-radius: 10px;
  margin: 12px;
  display: flex;
}

.card-container .card .card-left {
  width: 84px;
  height: 82px;
  margin-right: 5px;
}

.card-container .card .card-right {
  width: 122px;
  height: 82px;
}

.card .card-right .days-no {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #212121;
  margin-bottom: 5px;
}

.card .card-right .leave-type-card {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.card .card-left .total-leave {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
}

.card-container {
  max-width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  overflow-x: scroll;
}

.card-container::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.card-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
.card-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.card-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-container ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.card-container i {
  padding: 14px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 500;
  margin: 0 28px 12px 0;
}

.card-container .bx1 {
  background-color: #dfedfb;
  color: #1b4ea3;
}

.card-container .bx2 {
  background-color: #fadffb;
  color: #b424e7;
}

.card-container .bx3 {
  background-color: #ffe5e5;
  color: #e31f1f;
}

.card-container .bx4 {
  background-color: #ffeed5;
  color: #e86f00;
}

.card-container .bx5 {
  background-color: #e4ffd8;
  color: #1a9a0f;
}

.card-container .bx6 {
  background-color: #feffc9;
  color: #cfba00;
}

.container-properties {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-header {
  position: relative;
  height: 70px;
  width: calc(100% - 252px);
  left: 252px;
  background-color: #ffffff;
  padding-left: 40px;
  border-left: 1px;
  display: flex;
}

.leave-reminder {
  padding: 14px 27px 14px 12px;
  gap: 6px;
  width: 228px;
  height: 260px;

  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 95, 171, 0.05);
  border-radius: 10px;
  margin-bottom: 24px;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 2px 5px;
}

.reminder-list {
  list-style: none;
}

.reminder-list-components {
  display: flex;
  padding-bottom: 10px;
}

.reminder-list-components i {
  padding: 4px 5px;
  gap: 10px;
  margin-right: 3px;
  width: 22px;
  height: 20px;
}

.reminder-list-components p {
  padding-top: 6px;
  margin: 0;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #19191d;
  margin: 0;
  padding-top: 3px;
}

.reminder-date,
.reminder-leave-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;

  color: #666666;
}

.reminder-days-togo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #666666;
}

.bx-orange {
  color: #e86f00;
}

.bx-blue {
  color: #1b4ea3;
}

.leave-today {
  padding: 20px 27px 26px 12px;
  gap: 10px;
  width: 228px;
  height: 360px;

  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(56, 95, 171, 0.05);
  border-radius: 10px;
}

.leave-profile-lists {
  margin-top: 10px;
}

.leave-profile-lists ul {
  list-style: none;
  margin: 0;
}

.leave-profile-lists li {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;

  width: 182px;
  height: 70px;
}

.leave-profile-lists p,
.user-profile p {
  margin: 0;
}

.user-profile {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  margin-right: 86px;
  height: 70px;
  width: 182px;
  display: flex;
  gap: 10px;
}

.user-profile-pic img {
  height: 40px;
  width: 40px;
}

.user-profile-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.user-profile-post {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #808080;
}

.pagination-bttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination-bttns a {
  padding: 5px 10px;
  gap: 10px;
  width: 26px;
  height: 27px;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  cursor: pointer;
}

.pagination-bttns a:hover {
  text-decoration: none;
  color: #808080;
}

.previous-bttn {
}

.next-bttn {
}

.pagination-disabled {
}

.pagination-active a {
  background: #dfedfb;
}

.borderless td,
.borderless th,
.borderless thead tr th {
  border: none;
}

.borderless tr {
  border-bottom: 2px solid #eeeeee;
}

.borderless th {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.borderless td {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

.status-accepted,
.status-pending,
.status-rejected {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 7px 12px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.status-accepted {
  color: #1f9254;
  background: #ebf9f1;
}

.status-pending {
  color: #cd6200;
  background: #fef2e5;
}

.status-rejected {
  color: #a30d11;
  background: #fbe7e8;
}

.register-form {
  max-width: 500px;
  border: 1px solid;
}

.user-container {
  margin-top: 24px;
  padding: 30px 72px;
  width: calc(100% - 44px);
  background-color: #ffffff;
  border-radius: 10px;
}
.profile-pic-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.profile-pic {
  height: 160px;
  width: 120px;
}
.profile-pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.profile-pic ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  justify-content: space-between;
}
.profile-pic ul li {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #646464;
}
.user-form-container {
  padding: 25px 0 0 0;
}
.user-form-container form .user-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
form .user-form .user-input-box {
  margin-bottom: 25px;
  width: calc(100% / 2 - 15px);
}
.user-input-box input:read-only {
  background-color: #f8f8f8 !important;
}
